services:
  db:
    image: postgres:14
    container_name: farmstack_db
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - postgresql-network

  qdrant:
    image: qdrant/qdrant:latest
    restart: always
    container_name: qdrant
    ports:
      - "6333:6333"
      - "6334:6334"
    depends_on:
      - db
    networks:
      - postgresql-network
    volumes:
      - ./qdrant_data:/qdrant/storage

  redis:
    image: redis:7-alpine
    container_name: farmstack_redis
    restart: always
    ports:
      - "6379:6379"
    networks:
      - postgresql-network

networks:
  postgresql-network:
    driver: bridge

volumes:
  postgres_data:
